{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}
{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todoslist in todoslist_list %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todoslist.id %}">{{ todoslist.name }}</a>
                            </td>
                            <td>{{ todoslist.items.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
